/*
 * Header
 * */
.brand-logo {
  font-family: 'Monoton', cursive;
}
.nav-wrapper {
  background: white;
}
.nav-wrapper a {
  color: black;
}

/*
 * Chinese Traditional
 */
.chinese {
  font-family: 'Noto Sans TC', sans-serif;
}
