/*
 * For jQCloud css
 */
.w10 {
  font-size: 72px;
}
.w9 {
  font-size: 64px;
}
.w8 {
  font-size: 56px;
}
.w7 {
  font-size: 48px;
}
.w6 {
  font-size: 40px;
}
.w5 {
  font-size: 32px;
}
.w4 {
  font-size: 24px;
}
.w3 {
  font-size: 16px;
}
.w2 {
  font-size: 8px;
}
.w1 {
  font-size: 5px;
}

