/*
 * html label
 */
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
[contenteditable]:focus{
  outline: 0px;
}
/*
 *
 */
body{
  background: black;
  color: white;
}
span{
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  display: inline-block;
}
